<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIdentityService">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="CommonDataWebSoap">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://eservice.e-health.gov.az/EHealthWcf/IdentityService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIdentityService" contract="Azerbaijan.IIdentityService" name="BasicHttpBinding_IIdentityService" />
      <endpoint address="https://ncdclogin.moh.gov.ge/Hmis/Hmis.CommonData.Web/Services/CommonDataWeb.asmx" binding="basicHttpBinding" bindingConfiguration="CommonDataWebSoap" contract="Georgia.CommonDataWebSoap" name="CommonDataWebSoap" />
    </client>
  </system.serviceModel>
</configuration>